In [1]:
print("hello world")

hello world

## data types

In [2]:
# a string is either double quotes or single quotes.
test = "hello"

In [3]:
Print(test)

NameError: name 'Print' is not defined

In [4]:
print(test)

hello

In [5]:
type(test)

str

In [7]:
#interger
number = 10

#float
floaty = 5.4

In [8]:
number + floaty

15.4

In [9]:
test + number

TypeError: can only concatenate str (not "int") to str

In [10]:
test +test

'hellohello'

### operators

In [11]:
100/3.5

28.571428571428573

In [12]:
3 ** 6

729

In [13]:
59//6

9

In [14]:
678 % 92

34

concatination

In [16]:
'Foo' + 'bar'

'Foobar'

In [17]:
'foo' **2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## python collections

In [2]:
#list

my_list = [1, 2, 3.2]

In [3]:
print(my_list)

[1, 2, 3.2]

In [5]:
print(my_list[-1])

3.2

In [6]:
#Retrave all items but the first (at 0)
print(my_list[1:])

[2, 3.2]

In [9]:
#dictionaties

my_dict={'one': 1, 'two':2, 'three': 3}

In [13]:
print(my_dict['one'])

1